

@import url(bootstrap.css);


.container {
    min-width:100%; 
}

.h1 {
    color: none;
    font-style: italic;
    align-self: center;
}

.h2 {
    position: centre;
    color: crimson;
}

.Welcome {
    background-image: url("../img/h_img.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.About {
    background-image: none;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.Services {
    background-image: url("../img/s_image.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.Contacts {
    background-image: url("../img/c_image.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




